<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Takeover by Dr. Muhammad Sayyed Khalil</title>
	

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Kholi0o Page!</h1>
		<h2>This will fix Soon!</h2>
		<p>This is the sample of Page by <a href="https://twitter.com/kholi0o">Dr. Muhammad Sayyed Khalil</a></p>
		<a href="https://bugcrowd.com/kholi0o" class="btn btn-primary btn-lg">View my Bugcrowd Profile </a>
	


	</div>
</div>
	
</body>
</html>
